body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #dddddd; }

.account-wall {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 6px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.form-section {
  padding: 15px;
  margin: 0 auto; }

.error {
  color: #b94a48;
  font-weight: normal; }

.hide {
  display: none; }

hr {
  margin: 0 0 15px 0; }

.jumbotron {
  margin: 0; }
  .jumbotron img {
    float: left;
    margin: 0 10px 10px 0; }

.error-template {
  padding: 40px 15px;
  text-align: center; }

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn {
  margin-right: 10px; }
